@import "./iconfont/ionicons.scss";

.#{$icon-prefix}-spin:before {
    display: inline-block;
    animation: rw-icon-loading-circle 1s infinite linear;
}

@keyframes rw-icon-loading-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
